asgiref==3.8.1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
dj-database-url==2.2.0
Django==5.1.1
django-allauth==0.64.1
django-cors-headers==4.4.0
django-crontab==0.7.1
django-stubs==5.1.0
django-stubs-ext==5.1.0
djangorestframework==3.15.2
duplicity==0.8.20
exceptiongroup==1.2.2
fasteners==0.19
future==1.0.0
geographiclib==2.0
geopy==2.4.1
google-api-core==2.20.0
google-auth==2.35.0
google-cloud-vision==3.7.4
googleapis-common-protos==1.65.0
grpcio==1.66.1
grpcio-status==1.66.1
idna==3.10
iniconfig==2.0.0
mypy==1.11.2
mypy-extensions==1.0.0
packaging==24.1
pillow==10.4.0
pluggy==1.5.0
proto-plus==1.24.0
protobuf==5.28.2
psycopg2==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.9.0
pytest==8.3.3
python-dotenv==1.0.1
requests==2.32.3
rsa==4.9
sqlparse==0.5.1
tomli==2.0.1
types-PyYAML==6.0.12.20240917
typing_extensions==4.12.2
urllib3==2.2.3
whitenoise==6.7.0
